:root {
    --bg: #1d1f21;
    --fg: #82b625;
}

* {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    white-space:pre;
    background-color: var(--bg);
    color: var(--fg);
    font-weight: bold;
}

html, body {
    height: 100vh;
    width: 100%;
    padding: 0.5vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    word-wrap: break-word;
    /* cursor: none; */
}

#blink {
    animation: blinker 0.75s infinite;
}
  
@keyframes blinker {
    from { opacity: 1.0; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    70% { opacity: 1; }
    to { opacity: 1.0; }
}

#prompt, .old_prompt {
    display: inline;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    height: 1rem;
    padding-bottom: 0.2rem;
    max-width: 100%;
    text-wrap: stable;
    word-wrap: normal;
    caret-color: transparent;
    height: fit-content;
}

#txt {
    text-wrap: stable;
    word-wrap: normal;
}